* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: rgb(0, 0, 0, 0);
    /* دا بسبب اللون اللي بيظهر عند الضغط على اي عنصر */
}

body {
    font-family: 'Tajawal', sans-serif;
    /* للغة العربية */
}

section.all-project {
    position: relative;
    max-width: 768px;
    margin: auto;
}

/* ////////// Start Load \\\\\\\\\\ */
.shadow-portal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.spinner-orb {
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner-orb::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: vortex-spin 1.3s linear infinite;
}

.spinner-orb img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

@keyframes vortex-spin {
    to {
        transform: rotate(360deg);
    }
}

/* إخفاء اللودر بعد انتهاء التحميل */
.vanish-mode {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

/* ////////// End Load \\\\\\\\\\ */

/* ////////// Start carousel \\\\\\\\\\ */
.overlay_ads {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.carousel-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background: white; */
    max-width: 600px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    /* padding: 0 0 20px; */
    position: relative;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
    animation: scaleIn 0.4s ease;
}

@media(max-width: 600px) {
    .carousel-modal {
        /* height: 80%; */
        width: 90%;
        height: 80vh;
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.carousel-container {
    position: relative;
    width: 100%;
    height: 100%;
    /* perspective: 1200px; */
    overflow: hidden;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out;
    position: relative;
}

.slide_ads {
    position: absolute;
    /* max-width: 550px; */
    height: 100%;
    width: 100%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    transition: transform 1s ease, opacity 1s ease;
    opacity: 0;
    /* Hide all slides initially */
}

.slide_ads button {
    cursor: pointer;
    z-index: 10000;
    position: absolute;
    bottom: 20px;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
}

.slide_ads img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}


.text-buttons {
    display: flex;
    /* margin-top: 20px; */
    /* gap: 20px; */
    align-items: center;
    position: absolute;
    width: 100%;
    justify-content: space-between;
}

.text-buttons button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #a14bef;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 100%;
    cursor: pointer;
    transition: background 0.3s ease;
}

.text-buttons button:hover {
    background-color: #7e38c7;
}

.text-buttons button svg.arrow-next,
.text-buttons button svg.arrow-prev {
    width: 22px;
    height: 22px;
}

.close-button-ads,
.close-icon {
    position: absolute;
    top: 8px;
    right: 5px;
    font-size: 22px;
    cursor: pointer;
    border: none;
    overflow: hidden;
    width: 50px;
    height: 31px;
    display: flex;
    align-items: center;
    border-radius: 19px;
    justify-content: center;
    z-index: 1;
    transition: background 0.3sease;
}

.close-button-ads {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.close-button-ads {
    background: #dbcfb7;
    color: #381710;
}

/* ////////// End carousel \\\\\\\\\\ */

/* ////////// End Slider \\\\\\\\\\ */
article.slider {
    width: 100%;
    height: 280px;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 280px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    /*transition: 2s;*/
    height: 280px;
}

.slide img {
    width: 100%;
    height: 100%;
}

/*css for manual slide navigation*/
.navigation-manual {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}

/*css for automatic navigation*/
.navigation-auto {
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto article {
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto article:not(:last-child) {
    margin-right: 40px;
}

@media(max-width: 455px) {

    article.slider,
    .slides,
    .slide {
        height: 230px;
    }
}

@media(max-width: 390px) {

    article.slider,
    .slides,
    .slide {
        height: 200px;
    }
}

/* ////////// End Slider \\\\\\\\\\ */
#popup_ads {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background: white; */
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: ;
    z-index: 1001;
}

#popup_ads .close-ads {
    cursor: pointer;
    display: block;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
}

.overlay_ads {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1001;
    display: none;
}














/* ////////// Start Language \\\\\\\\\\ */
article.button-and-icon-globe {
    flex-direction: row;
    display: flex;
    gap: 5px;
    align-items: center;
    position: absolute;
    left: 10px;
    cursor: pointer;
}

#languagespan {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
}

#overlay_language {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1001;
}

#overlay_language.active {
    display: block;
}

#languageMenu {
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 100%;
    max-width: 768px;
    box-shadow: 0 4px 6px rgb(0, 0, 0);
    transform: translateY(100%);
    transition: transform 0.3sease;
    z-index: 10000;
    border-radius: 20px 20px 0 0;
}

#languageMenu.visible {
    transform: translateX(-50%) translateY(0);
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgb(241, 205, 171);
}

.menu-header span {
    font-size: 18px;
    font-weight: bold;
}

.menu-header i {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

button:focus,
#languageMenu {
    outline: none;
}

ul.name-lang {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.name-lang li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-bottom: 1px solid rgb(241, 205, 171);
    list-style: none;
    cursor: pointer;
}

ul.name-lang li a {
    text-align: center;
    font-size: 16px;
    text-decoration: none;
}

/* ////////// End Language \\\\\\\\\\ */

/* ////////// Start \\\\\\\\\\ */
.icon-heart-and-profile-and-discription-and-button-and-icon-globe {
    display: flex;
    flex-direction: row;
    padding: 10px;
    position: relative;
}

.profile-and-discription {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    gap: 10px;
}

.profile-pic {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    box-shadow: 0 0 5px;
    margin-top: -56px;
    transition: transform 0.2s;
    cursor: pointer;
}

.profile-pic:hover {
    transform: scale(1.1);
}

.overlay,
.popup-overlay {
    position: fixed;
    top: 0;
    margin: auto;
    width: 768px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

@media(max-width:768px) {

    .overlay,
    .popup-overlay {
        width: 100%;
    }
}

.popup.popup2 {
    padding: 20px;
    max-height: 100vh;
    min-width: 275px;
    overflow-y: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: scale(0.8);
    transition: transform 0.3sease-in-out;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.overlay img {
    width: 280px;
    height: 280px;
    border-radius: 10px;
}

.modal-open {
    overflow: hidden;
    height: 100vh;
}

article.overlay-card,
.overlay-card-gride {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #dbcfb7;
    z-index: 1;
}

.overlay-card-gride-img {
    background-color: rgb(0 0 0 / 70%);
    z-index: 1;
}

.product,
article.overlay-card {
    border-radius: 25px 0 10px 10px;
}

.overlay-card-gride {
    border-radius: 10px 10px 25px 10px;
}


button.close-share-branch {
    background: rgb(241, 205, 171);
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 12px;
}

.content-share-branch {
    padding: 20px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    overflow-y: auto;
    gap: 10px;
    flex-direction: row;
    width: 100%;
    position: relative;
}

.btn-copy-link-and-copied-link {
    display: flex;
    flex-direction: column;
}

.btn-copy-link-and-copied-link svg {
    width: 50px;
    height: 50px;
}


.close-profile,
.close-btn {
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 22px;
    cursor: pointer;
    border: none;
    overflow: hidden;
    width: 50px;
    height: 31px;
    display: flex;
    align-items: center;
    border-radius: 19px;
    justify-content: center;
    z-index: 1;
    transition: background 0.3sease;
}

.copy-notification {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease-in-out;
}

@media(max-width: 425px) {
    .profile-pic {
        width: 90px;
        height: 90px;
        margin-top: -57px;
    }
}

span.price-addition {
    font-size: 13px;
}

h1.place-name {
    font-family: sans-serif;
    font-size: 18px;
    font-family: 'montserrat', sans-serif;
}

h1.place-name.description {
    font-size: 12px !important;
}

.socialmedia {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia a i,
svg.lucide.lucide-phone-call-icon.lucide-phone-call,
svg.lucide.lucide-map-pin-icon.lucide-map-pin,
.icon-clock,
.icon-facebook,
svg.icon-tiktok {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 21px;
    height: 21px;
}

.icon-clock {
    position: absolute;
    right: 10px;
    top: 10px;
}

.work-timings {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 15px;
}

.time-popup {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    padding-bottom: 7px;
}

.time-popup .day {
    text-align: right;
}

.data-time {
    direction: rtl;
    display: flex;
    gap: 10px;
}

body.modal-open {
    overflow: hidden;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.popup.popup1 {
    padding: 20px;
    width: 570px;
    height: 100vh;
    overflow-y: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: scale(0.8);
    transition: transform 0.3sease-in-out;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media(max-width: 598px) {
    .popup.popup1 {
        width: 100%;
        padding: 5px;
        border-radius: 0;
    }
}

button.openPopup.branch {
    position: absolute;
    top: 0;
    margin: 10px;
    padding: 4px 13px;
    font-size: 15px;
    box-shadow: 0 4px 6px rgb(0, 0, 0);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#install-btn,
#ios-install-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    padding: 4px 13px;
    background-color: #EDE0D4;
    color: #8D6F5A;
    font-size: 15px;
    box-shadow: 0 4px 6px rgb(0, 0, 0);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

article.profile-pic-branch-and-place-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 46px;
    gap: 10px;
}

img.profile-pic-branch {
    width: 100px;
    border-radius: 50%;
    height: 100px;
}

h2.name-branches {
    font-size: 15px;
}

article.branches-all {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    flex-direction: column;
    padding: 10px;
    gap: 13px;
    margin-bottom: 45px;
}

article.branches-place {
    width: 100%;
    height: 75px;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    padding: 10px 0 10px 10px;
}

a.img-place-description-place {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    text-decoration: none;
}

article.img-place {
    width: 80px;
    height: 60px;
}

article.img-place img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

article.description-place {
    font-size: 12px;
    width: 237px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    direction: rtl;
    margin: auto;
    text-align: center;
}

@media(max-width: 768px) {
    article.description-place {
        font-size: 14px;
    }

}

@media(max-width: 412px) {
    article.description-place {
        width: 163px;
        font-size: 12px;
    }

    article.img-place {
        width: 64px;
    }
}

.menu-container-branch {
    display: inline-block;
    margin: 20px;
    position: relative;
}

.menu-icon-branch {
    cursor: pointer;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    display: inline-block;
    text-align: center;
}

.dropdown-branch {
    position: absolute;
    top: 23px;
    right: 9px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    overflow: hidden;
    z-index: 1000;
    width: 139px;
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
    transition: opacity 0.4sease, transform 0.4sease;
}

.dropdown-branch ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-branch li {
    padding: 10px;
    cursor: pointer;
    text-align: center;
    transition: background 0.3s ease;
}

.menu-icon-branch.active .dropdown-branch {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

li.item-share-branch,
li.item-place-branch {
    border-bottom: rgb(241, 205, 171) solid 1px;
}

span.share-branch,
a.place-branch,
a.menu-branch {
    color: #8D6F5A;
    display: flex;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    gap: 10px;
    justify-content: right;
    font-size: 15px;
}

a.menu-branch {
    margin-right: 30px;
}

a.place-branch svg {
    width: 20px;
}

.btn-copy-link {
    display: block;
    margin: 10px auto;
    padding: 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    width: max-content;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.btn-copy-link:hover {
    background: #0056b3;
    color: white;
}

.popup-share-branch {
    display: none;
    position: fixed;
    flex-direction: column;
    border-radius: 12px;
    left: 0;
    width: 100%;
    height: 300px;
    background: white;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* ////////// End \\\\\\\\\\ */

/* ////////// Start \\\\\\\\\\ */
.menu-container {
    position: sticky;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    direction: rtl;
    width: 100%;
    top: 0;
    justify-content: space-around;
    max-width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
    gap: 5px;
    z-index: 1000;
}

.menu-container a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 550;
    gap: 10px;
    font-size: 13px;
    text-transform: capitalize;
}

.menu-container a img {
    width: 73px;
    height: 73px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #40D3DC solid 2px;
}

::-webkit-scrollbar {
    display: none;
}

/* ////////// End \\\\\\\\\\ */

/* ////////// Start \\\\\\\\\\ */
.toggle-container {
    margin-top: 10px;
    gap: 10px;
    border-radius: 25px;
    border: 2px solid transparent;
    border: rgb(241, 205, 171) solid 2px;
    margin: auto;
    width: 90px;
    flex-direction: row;
    display: flex;
}

.random1 {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}

.random2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80px;
    height: 35px;
    border: #8D6F5A solid 2px;
    border-radius: 25px;
    position: relative;
    padding: 10px;
}

.random2 i {
    font-size: 20px;
}

.random3 {
    width: 35px;
    height: 35px;
    border: #876e5f solid 2px;
    border-radius: 50%;
    position: absolute;
    transition: 0.3s;
    margin-left: -11px;
}

.random2.active .random3 {
    transform: translateX(43px);
}

.random4 {
    display: none;
    font-size: 18px;
    margin-bottom: 20px;
}

.random4.active {
    display: block;
}

/* ////////// End \\\\\\\\\\ */

/* ////////// Start According \\\\\\\\\\ */

article.countainer-item {
    max-width: 768px;
    margin: auto;

}

article.relative {
    display: flex;
    width: 49%;
    /* background: aliceblue; */
}

@media (max-width: 642px) {
    article.relative {
        width: 100%;
    }
}

.custom-container {
    margin: 0 auto;
}

.custom-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: #f8e1e7; */
    border-radius: 8px;
    width: 96%;
    margin: auto;
    padding: 5px 10px;
    height: 65px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
    transition: background-color 0.3s;
}

.custom-box-product {
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    gap: 10px;
    /* background: #f8e1e7; */
    direction: rtl;
    height: 85px;
    cursor: pointer;
    position: relative;
    text-transform: capitalize;
    /*    justify-content: space-between;*/
    width: 100%;
    padding: 5px;
}

.custom-box-product,
article.overlay-card {
    border-radius: 25px 0 10px 10px;
}

.custom-heading {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}

.accordion-content {
    padding: 16px;
    border-radius: 8px;
    margin-top: 8px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.3s ease;
    padding: 0;
    margin: 0;
}

.accordion-content.active {
    display: block;
    opacity: 1;
    transition: max-height 0.4s ease-in, opacity 0.3s ease-in-out;
}

.custom-spacing>*+* {
    margin-top: 12px;
}

.custom-spacing {
    margin: 10px;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    direction: rtl;
    align-items: end;
}

.img-product {
    width: 78px;
    height: 100%;
}

.img-product img {
    width: 100%;
    height: 97%;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.custom-text {
    font-size: 14px;
}

.img-main-product {
    display: flex;
    align-items: center;
    gap: 10px;
}

.img-main-product i,
.img-main-product img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading-text-share {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px 0 10px;
    font-size: 15px;
}

.image-name-container-share {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.image-name-container-share #shareImage {
    border-radius: 12px;
    width: 200px;
    height: 200px;
}

.image-name-container-share .product-name-share {
    color: #0056b3;
}

.button-container {
    display: flex;
    gap: 10px;
    margin-top: 8px;
    overflow-x: scroll;
    scrollbar-width: none;
    flex-direction: row;
    align-items: center;
    direction: rtl;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.copy-button,
.whatsapp-button,
.telegram-button,
.facebook-button,
.messenger-button,
.twitter-button,
.tiktok-button,
.snapchat-button,
.linkedin-button {
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    display: flex;
    gap: 5px;
}

.copy-button i,
.whatsapp-button img,
.telegram-button img,
.facebook-button img,
.messenger-button img,
.tiktok-button img,
.twitter-button img,
.snapchat-button img,
.linkedin-button img {
    width: 45px;
    font-size: 20px;
}

.copy-button i {
    border-radius: 50%;
    /* border: #0056b3 solid 2px; */
    padding: 10px;
}

body.popup-open {
    overflow: hidden;
}

.popup-container {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1001;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    background: rgba(0, 0, 0, 0.5);
}

.popup-container.active {
    visibility: visible;
    opacity: 1;
}

.popup_content {
    width: 100%;
    max-width: 768px;
    border-radius: 20px 20px 0 0;
    text-align: center;
    padding: 20px;
    position: relative;
    transform: translateY(100%);
    transition: transform 0.3s ease;
    max-height: 59vh;
    display: flex;
    flex-direction: column;
}

.popup-container.active .popup_content {
    transform: translateY(0);
}

.share-popup-container {
    position: fixed;
    inset: 0;
    /* background: rgba(0, 0, 0, 0.5); */
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.share-popup-container.active {
    visibility: visible;
    opacity: 1;
    z-index: 1001;
}

.share-popup {
    /* background: white; */
    border-radius: 12px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    height: 100%;
    text-align: center;
    padding: 5px;
}

@media (min-width: 570px) {
    .share-popup {
        width: 570px;
    }
}

@media (max-width: 570px) {
    .share-popup {
        width: 100%;
        border-radius: 0;
    }
}

.accordion-icon {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.icon-rotated {
    transform: rotate(180deg);
}

.menu-container {
    position: sticky;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    direction: rtl;
    width: 100%;
    top: 0;
    justify-content: space-around;
    max-width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
    gap: 5px;
    z-index: 1000;
}

article.content-product {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
    justify-content: center;
}

.content-product h3 {
    margin: 0;
    font-size: 13px;
    overflow: hidden;
    text-transform: capitalize;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.description_text {
    font-size: 12px;
    width: 237px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media(max-width: 768px) {

    .content-product h3,
    .description_text {
        width: 225px;
    }
}

@media(max-width: 715px) {

    .content-product h3,
    .description_text {
        width: 199px;
    }
}

@media(max-width: 642px) {

    .content-product h3,
    .description_text {
        width: 411px;
    }
}

@media(max-width: 562px) {

    .content-product h3,
    .description_text {
        width: 394px;
    }
}

@media(max-width: 510px) {

    .content-product h3,
    .description_text {
        width: 345px;
    }
}

@media(max-width: 480px) {

    .content-product h3,
    .description_text {
        width: 334px;
    }
}

@media(max-width: 460px) {

    .content-product h3,
    .description_text {
        width: 296px;
    }
}

@media(max-width: 429px) {

    .content-product h3,
    .description_text {
        width: 280px;
    }
}

@media(max-width: 408px) {

    .content-product h3,
    .description_text {
        width: 262px;
    }
}

@media(max-width: 379px) {

    .content-product h3,
    .description_text {
        width: 237px;
    }
}

@media(max-width: 367px) {

    .content-product h3,
    .description_text {
        width: 222px;
    }
}

@media(max-width: 353px) {

    .content-product h3,
    .description_text {
        width: 206px;
    }
}

@media(max-width: 335px) {

    .content-product h3,
    .description_text {
        width: 194px;
    }
}

@media(max-width: 319px) {

    .content-product h3,
    .description_text {
        width: 190px;
    }
}

@media(max-width: 308px) {

    .content-product h3,
    .description_text {
        width: 170px;
    }
}

article.calories-all {
    direction: rtl;
    font-size: 10px;
    display: flex;
    align-items: center;
    gap: 3px;
}

.unit-according {
    display: flex;
    align-items: center;
    padding: 0 5px;
    border-radius: 0 0 0 5px;
    gap: 5px;
    font-size: 12px;
    flex-direction: row;
    position: absolute;
    bottom: 4px;
}

.icon-plus-calories-all-price i.fa-solid.fa-plus {
    width: 35px;
    height: 35px;
    top: 0;
    position: absolute;
    background: #dbcfb7;
    color: #381710;
    align-items: center;
    border-radius: 25px 0 10px 0;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

span.number-calories {
    display: flex;
    flex-direction: row;
    align-items: center;
}

article.stickyHeader {
    margin-bottom: 62px;
}

.stickyHeader img {
    width: 210px;
    height: 210px;
    border-radius: 10px;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    position: absolute;
    top: -185px;
    left: 50%;
}

.stickyHeader h2 {
    text-transform: capitalize;
}

.stickyHeader .content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 0 10px;
    text-align: right;
    max-height: 35vh;
    margin: 5px 0 5px;
}

.share-btn i.fa-solid.fa-share {
    position: absolute;
    top: 8px;
    left: 5px;
    font-size: 22px;
    /* background: #EDE0D4; */
    cursor: pointer;
    border: none;
    overflow: hidden;
    width: 50px;
    height: 31px;
    display: flex;
    align-items: center;
    border-radius: 19px;
    justify-content: center;
    z-index: 1;
    transition: background 0.3sease;
}

.title-name-and-desc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px 0 0px;
}

article.pound-description-and-calories-all-popframe {
    display: flex;
    align-items: center;
    position: absolute;
    flex-direction: column;
    right: 0px;
    bottom: 7px;
    justify-content: space-between;
    width: 100%;
}

span.pound-description {
    font-weight: bold;
    gap: 5px;
    direction: rtl;
    border-radius: 10px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 12px;
    margin-left: -10px;
}

article.size-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 18px;
}



.stickyHeader .back-btn,
.close-btn-share {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
}

.close-btn-share {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 80%;
    margin-top: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.text-additional {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    direction: rtl;
    margin: 10px 0 5px 0;
}

article.checkbox-and-name-item-add {
    display: flex;
    align-items: center;
    gap: 10px;
}

label.checkbox-and-name-item-add-and-price-additional {
    width: 100%;
    display: flex;
    padding-bottom: 10px;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px rgb(241, 205, 171);
}

input[type="checkbox"]:checked::before {
    content: '✔';
    /* إضافة علامة صح */
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    top: -2px;
    left: 4px;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}

input[type="checkbox"]:checked {
    border-color: white;
}

.name-item-add {
    font-size: 14px;
}

article.calories-all-popframe {
    direction: rtl;
    color: #8D6F5A;
    font-size: 10px;
    display: flex;
    align-items: center;
    gap: 3px;
}

span.price-addition {
    display: flex;
    align-items: center;
}

article.overlay-card,
.overlay-card-gride {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

/* ////////// End According \\\\\\\\\\ */

/* ////////// Start Gride \\\\\\\\\\ */
/* .content.hidden {} */
.item-product-all {
    display: flex;
    flex-direction: column;
}

.cards-gride {
    padding: 10px;
    flex-wrap: wrap;
    display: flex;
    gap: 60px 15px;
    align-items: center;
    justify-content: center;
}

article.grid-item-product {
    width: 160px;
    height: 194px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px 10px 25px;
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

@media (max-width: 320px) {
    article.grid-item-product {
        width: 152px;
    }

    .cards-gride {
        padding: 5px;
        gap: 60px 6px;
    }
}

h1.name-items-gride {
    display: flex;
    align-items: center;
    direction: rtl;
    margin: 20px 20px 55px;
    font-size: 15px;
    justify-content: center;
}

.unit-gride-offer {
    position: absolute;
    bottom: 4px;
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.unit-gride-collect img.offer {
    width: 50px;
    height: 50px;
    position: absolute;
    top: -8px;
    right: -4px;
}

img.image-product-gride {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}

img.image-product-gride,
.overlay-card-gride-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    align-items: center;
    display: flex;
    top: -52px;
    position: absolute;
    justify-content: center;
}

h1.name-product-gride {
    font-size: 13px;
    direction: rtl;
    margin-top: 53px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
}

article.calories-all-gride {
    display: flex;
    align-items: center;
    direction: rtl;
    font-size: 12px;
    gap: 3px;
}

.plus-grid i.fa-solid.fa-plus {
    position: absolute;
    width: 35px;
    height: 35px;
    bottom: 0;
    background: #dbcfb7;
    color: #381710;
    align-items: center;
    border-radius: 10px 0 25px 0;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.unit-grid {
    display: flex;
    align-items: center;
    padding: 0 5px;
    border-radius: 0 0 0 5px;
    gap: 5px;
    font-size: 12px;
    flex-direction: row;
    position: absolute;
    bottom: 4px;
}

del.discount-gride,
span.pound-gride {
    direction: rtl;
    display: flex;
    align-items: center;
    padding-top: 10px;
}

del.discount-gride {
    padding-top: 10px;
    font-size: 10px;
}

span.pound-gride {
    gap: 4px;
    font-size: 12px;
}

.unit-gride-size {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: #fff;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    gap: 5px;
    direction: rtl;
}

/* ////////// End Gride \\\\\\\\\\ */

/* //////////  Start Description \\\\\\\\\\ */

.stickyHeader h2,
.image-name-container-share .product-name-share {
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 0.38px;
    margin: 0 16px 7px;
}

.stickyHeader p {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.32px;
    margin-bottom: 0;
    text-align: center;
}

.popFrame .content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 0 10px;
    text-align: right;
    max-height: 50vh;
    /* تحديد أقصى ارتفاع لمحتوى النص */
    margin: 5px 0 5px;
}


.item-add {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    direction: rtl;
    gap: 10px;
}

.text-additional {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    margin: 10px 0 5px 0;
}

label.checkbox-and-name-item-add-and-price-additional {
    width: 100%;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px rgb(241, 205, 171);
}

article.checkbox-and-name-item-add {
    display: flex;
    align-items: center;
    gap: 10px;
}

article.name-item-add-and-calories-all-popframe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

article.calories-all-popframe {
    direction: rtl;
    display: flex;
    align-items: center;
    gap: 3px;
}

input[type="checkbox"] {
    /* إخفاء الـ checkbox الأصلي */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border: 2px solid rgb(241, 205, 171);
    /* تحديد الحدود */
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}

input[type="checkbox"]:checked::before {
    content: '✔';
    /* إضافة علامة صح */
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    top: -2px;
    left: 4px;
}

.plus-grid i.fa-solid.fa-plus:hover,
.icon-plus-calories-all-price i.fa-solid.fa-plus:hover {
    background: white;
}

article.size-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 18px;
}

.price-discription {
    font-size: 20px;
    margin-top: 20px;
}

article.pound-description-and-calories-all-popframe article.calories-all-popframe {
    direction: rtl;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    flex-wrap: wrap;
    font-weight: bold;
    margin-right: -10px;
}

span.unit-description {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0 4px 6px rgb(0, 0, 0);
}

del.discount-description {
    padding: 5px;
    height: 30px;
    direction: rtl;
    border-radius: 0 0 10px 0;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.goBack {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
}

/* //////////  End Description \\\\\\\\\\ */

/* //////////  Start Footer \\\\\\\\\\ */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 12px 12px 0 0;
}

footer span.openPopup {
    cursor: pointer;
}

.popup.popup3 {
    padding: 20px;
    max-height: 100vh;
    overflow-y: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: scale(0.8);
    transition: transform 0.3sease-in-out;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

span.open-popup-footer {
    font-size: 17px;
    cursor: pointer;
    /* تغيير المؤشر عند المرور فوق النص */
    color: #fff;
}

.click-here {
    text-decoration: underline;
    font-weight: 600;
}

img.logo-quick-menu {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 5px;
}

h2.content-our {
    font-size: 18px;
}

.socialmedia-our {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}

.socialmedia-our a {
    text-decoration: none;
}

.socialmedia-our a svg.gmail-activity,
svg.instagram-activity,
svg.facebook-acticity,
svg.whatssapp-activity,
svg.phone-activity {
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
}

/* //////////  End Footer \\\\\\\\\\ */
article.name-product-gride-and-detailts-product-gride {
    text-align: center;
}